<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#attr $context = 'month'
#attr $use_parameter_month = True
#attr $use_parameter_year = False
#set $NOAA_PATH = "NOAA/NOAA-" + $month.start.format('%Y-%m') + ".txt"

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("Monthly Weather Conditions")</title>
  </head>

  <body class="theme-$DisplayOptions.get('layout', 'alternative')"#if $places then ' data-units="' + $page_unit_system() + '"' else ''#>
    #include "includes/ui-shell.inc"

    <main class="main" id="main">
      <div class="wrap">
<header class="page-head">
#include "includes/place-switch.inc"
              <h1>$gettext("Monthly Weather Conditions")</h1>
              <!-- prettier-ignore -->
              <h2>$month.start - $spell($month.end.raw - 1, $get_time_format_dict['month'])</h2>
              <h3>
                <a
                  class="noaa-report-link"
                  target="_blank"
                  href="$get_base_path(path=$NOAA_PATH)"
                >
                  NOAA Report
                </a>
              </h3>
            </header>

          <!--prettier-ignore-->
          #if $DisplayOptions.get('layout', 'alternative') == 'alternative'
            #include 'includes/body-alternative.inc'
          #else
            #include 'includes/body-classic.inc'
          #end if
<!--Stat tile Modals-->
    #if $DisplayOptions.get('layout', 'alternative') == 'alternative'
      #include "includes/stat-tile-modals.inc"
    #end if

    #include "includes/footer.inc"

</body>
</html>
